{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="1; url={% url 'games:othello_ai' model.room_id %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'board_styles.css' %}">
    <title>Ai is computing!</title>
</head>
<body>
{% include "navbar.html" %}
<form id="action" method="POST" class="board" style="width: 610px;">
  {% csrf_token %}
  {% if model.end %}
    {% if model.end == "Draw" %}
    <h1>Draw!</h1>
    {% else %}
    <h1>{{ model.end }} has won the game!</h1>
    {% endif %}
  {% else %}
    {% if model.board.turn == 64 %}
      <h1>White's turn</h1>
    {% else %}
      <h1>Black's turn</h1>
    {% endif %}
  {% endif %}
  <h4>White: {{ model.board.wn }} / Black: {{ model.board.bn }}</h4>
  {% for row in model.board.b %}
  <div class="row">
    {% for element in row %}
      {% if element == 64 %}
        <div class="square" style="color: #ffffff;">●</div>
      {% elif element == 65 %}
        <div class="square" style="color: #000000;">●</div>
      {% else %}
        <button name="action" type="submit" value="{{ element }}" class="square"></button>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-6">
      <button name="action" type="submit" value="-1" class="btn btn-outline-warning btn-lg" style="margin: 20px;">one step back!</button>
    </div>
    <div class="col-6">
      <button name="action" type="submit" value="-2" class="btn btn-outline-danger btn-lg" style="margin: 20px;">restart</button>
    </div>
  </div>
</form>
<div class="row my-3" align="center" style="width: 610px; margin: 20px;">
  <div class="col-12">
    <button class="btn btn-outline-primary btn-lg">
      <a href="../../">Back to the room list</a>
    </button>
  </div>
</div>
</body>
</html>